<nav class="navbar center">
    <img src="/assets/images/logo.svg" type="img/svg" class="logo" alt="logo" />
    <button class="toggle-btn mobile-btn" (click)="cambiar();">
        <img src="/assets/images/icon-menu.svg" alt="" />
    </button>
    <div class="sidebar">
        <button class="close-btn mobile-btn">
            <img src="/assets/images/icon-menu-close.svg" alt="" />
        </button>
        <ul class="navlinks">
            <li><a href="#" class="navlink">home</a></li>
            <li><a href="#" class="navlink">new</a></li>
            <li><a href="#" class="navlink">popular</a></li>
            <li><a href="#" class="navlink">trending</a></li>
            <li><a href="#" class="navlink">categories</a></li>
        </ul>
    </div>
</nav>