<div class="footer">
    <div class="boton-footer">
        <div>
            <img src="/assets/images/image-retro-pcs.jpg" alt="reviving retro" class="img" />
        </div>
        <div class="boton-footer-info">
            <span>01</span>
            <h4>Reviving Retro PCs</h4>
            <p>What happens when old PCs are given modern upgrades?</p>
        </div>
    </div>

    <div class="boton-footer">
        <div>
            <img src="./assets/images/image-top-laptops.jpg" alt="reviving retro" class="img" />
        </div>
        <div class="boton-footer-info">
            <span>02</span>
            <h4>Top 10 Laptops of 2022</h4>
            <p>Our best picks for various needs and budgets.</p>
        </div>
    </div>

    <div class="boton-footer">
        <div>
            <img src="./assets/images/image-gaming-growth.jpg" alt="reviving retro" class="img" />
        </div>
        <div class="boton-footer-info">
            <span>03</span>
            <h4>The Growth of Gaming</h4>
            <p>How the pandemic has sparked fresh opportunities.</p>
        </div>
    </div>
</div>